<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>抄表点新增或编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
</head>

<body>
    <div class="layui-form" lay-filter="layuiadmin-form-meteread" id="layuiadmin-form-meteread" style="padding: 20px 50px 0 0;">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">所属小区</label>
            <div class="layui-input-inline">
                <select name="Area_Id_Village" lay-verify="required" id='Area_Id_Village'>
                    <!-- Area, Street, Village, Building, Unit, Floor, Room -->
                    <!-- <option value="Area">区域</option>
                    <option value="Street">街道</option>
                    <option value="Village">小区</option>
                    <option value="Building">楼栋</option>
                    <option value="Unit">单元</option>
                    <option value="Floor">楼层</option>
                    <option value="Room">房号</option> -->
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label ">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="Name" lay-verify="required" placeholder="请输入抄表点名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label ">编码</label>
            <div class="layui-input-inline">
                <input type="text" name="Coding" lay-verify="required" placeholder="请输入抄表点编码" autocomplete="off" class="layui-input">
            </div>
        </div>        
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">排序号</label>
            <div class="layui-input-inline">
                <input type="text" name="SortNum" lay-verify="number" placeholder="请输入排序号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">详细地址</label>
            <div class="layui-input-block">
                <textarea name="Address" placeholder="请输入详细地址" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述说明</label>
            <div class="layui-input-block">
                <textarea name="Description" placeholder="请输入描述说明" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="LAY-area-files-submit" id="LAY-area-files-submit" value="确认">
        </div>
    </div>

    <script src="../../../layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'useradmin', 'form', 'utils'], function () {
            var $ = layui.$,
                form = layui.form,
                utils = layui.utils;
            var params = utils.getRequest(),
                passParams;

            if (params.type === "create") {
                passParams = JSON.parse(decodeURIComponent(params.villageTypes));

                // 赋值所属小区
                $('#Area_Id_Village').append('<option value=""></option>');
                for (var i in passParams) {
                    $('#Area_Id_Village').append('<option value= ' + passParams[i].Me.Id + '>' + passParams[i].Me.Name + '</option>');
                }
                form.render('select');
            }
            if (params.type === "edit") {
                passParams = { villageTypes: JSON.parse(decodeURIComponent(params.villageTypes)), data: JSON.parse(decodeURIComponent(params.data)) };

                var villageTypeArr = passParams.villageTypes;

                // 赋值所属小区
                $('#Area_Id_Village').append('<option value=""></option>');
                for (var i in villageTypeArr) {
                    $('#Area_Id_Village').append('<option value= ' + villageTypeArr[i].Me.Id + '>' + villageTypeArr[i].Me.Name + '</option>');
                }
                form.render('select');

                // // // 赋值给编辑框
                var passFields = $.extend({}, passParams.data[0], { "Area_Id_Village": passParams.data[0].Area_Id_Village });
                // console.log(passFields,"passFields")
                form.val("layuiadmin-form-meteread", passFields);
            }

            console.log(passParams, 'passParams')

            // var areaFilesOfForm = {
            //     init: function () {
            //         this.AreaFilesForm();
            //     },
            //     AreaFilesForm: function () {
            //         $.ajax({
            //             type: "get",
            //             url: layui.setter.baseUrl + "/api/User/groups",
            //             async: true,
            //             dataType: "json",
            //             headers: {
            //                 Accept: "application/json",
            //                 "Content-Type": "application/json"
            //             },
            //             success: function (data) {
            //                 layer.closeAll();
            //                 console.log(data);
            //                 if (data.IsSucceed) {
            //                     var selectData = data.Result
            //                     $('#areaStatus').append('<option value=""></option>');
            //                     for (var i in selectData) {
            //                         $('#areaStatus').append('<option value= ' + selectData[i].Value + '>' + selectData[i].Text + '</option>');
            //                     }
            //                     form.render('select');
            //                 } else {
            //                     layer.msg("获取用户类型失败" + data, { icon: 5 });
            //                 }
            //             },
            //             error: function (err) {
            //                 layer.closeAll();
            //                 layer.msg("数据操作失败", { icon: 5 });
            //             }
            //         });
            //     }
            // }
            // areaFilesOfForm.init();
        })
    </script>
</body>

</html>